---
import Layout from '@layouts/Layout.astro';
import Slide from '@components/AuctionCardSlide.jsx'
---

<Layout tittle="Home">
	<main class="main-home">
		<section class="home-slider">
			<Slide path="/store" client:load/>
		</section>
		<section class="home-top-creator">

		</section>
	</main>
</Layout>

<style>
	.main-home{
		width: 100%;
		height: 100vh;
		border: 1px solid white;
		padding: 1em;
		display: grid;
		grid-template-columns: repeat(4,1fr);
		grid-template-rows: repeat(3,1fr);
		column-gap: 2em;
		border-radius: 2em;
	}
	.main-home > *{
		
		border-radius: 1em;
		background: #090909;
	}

	.home-slider{
		grid-column: 1/4;
		grid-row: 1/3;

	}

</style>



@/