---
import Layout from '@layouts/Layout.astro';
import Slide from '@components/TrendTopSlider.jsx'
import TopCreators from '@components/TopCreators.jsx';
---

<Layout tittle="Home">
	<main class="w-full h-[500px] flex items-center justify-center overflow-hidden">
		<section class="main-home-head">
			<Slide client:load />
		</section>
		
	</main>
</Layout>

<style>
	

	.main-home-head{
		height: 500px;
		width: 1024px;
		overflow: hidden;
		padding: 1em ;
		
	}

	
	

</style>


